@font-face {
    font-family: 'engFont';
    src: url('fonts/bebasneue-regular.woff2') format('woff2'),
         url('fonts/bebasneue-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'thaiFont';
	src:url('fonts/EkkamaiStandard-Light.ttf');
}

nav{
    background-color: #FFDDDD;
}
body{
    font-family: "Courier New", Courier, Monaco;
}

/*Form Update Account and Address*/
div .col-lg-3 h2 {
    padding-bottom: 15%;
}

textarea{
    resize: none;
}